/* Mobile Styles */
h1::after {
    content: " MOBILE"
}

.box {
    background-color: red;
    padding: 1em;
    border: 2px solid rgb(251, 247, 247);
}

/* Media query for medium size */
@media (min-width: 768px) {
    body {
        background-color: rgb(160, 75, 75);
    }

    h1::after {
        content: " TABLET";
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* Media query for large size */
@media (min-width: 992px) {
    body {
        background-color: rgb(0, 13, 255);
    }

    h1::after {
        content: " BIG TABLET";
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Media query for extra large size */
@media (min-width: 1200px) {
    body {
        background-color: rgb(0, 255, 38);
    }

    h1::after {
        content: " DESKTOP";
    }
}